<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <!-- General description of your web application -->

    <display-name>My Web Application</display-name>
    <description>
      Sample visualization
    </description>

    <resource-ref>
      <description>My DataSource Reference</description>
      <res-ref-name>jdbc/DSTest</res-ref-name>
      <res-type>javax.sql.ConnectionPoolDataSource</res-type>
      <res-auth>Container</res-auth>
      <injection-target>
        <injection-target-class>com.mapr.metrics.DataServlet</injection-target-class>
        <injection-target-name>dataSource</injection-target-name>
      </injection-target>
    </resource-ref>

    <servlet>
      <servlet-name>data</servlet-name>
      <servlet-class>com.mapr.metrics.DataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>data</servlet-name>
      <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>My Servlet</servlet-name>
      <servlet-class>SimpleExampleServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>CSV Example</servlet-name>
      <servlet-class>CsvDataSourceServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>AdvancedExampleServlet2</servlet-name>
      <servlet-class>AdvancedExampleServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>My Servlet</servlet-name>
      <url-pattern>/simpleexample</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>CSV Example</servlet-name>
      <url-pattern>/csv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>AdvancedExampleServlet2</servlet-name>
      <url-pattern>/advanced</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
   in minutes.  From a servlet or JSP page, you can modify
   the timeout for a particular session dynamically by using
   HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>
      <!-- 30 minutes -->
    </session-config>


  </web-app>
